#map {
    height: 90%;
    width: 90%;
    margin: auto;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

h4 {
    text-align: left;
}

